<nav>
    {{link-to "Home" "index"}}
    {{link-to "Sessions" "sessions"}}
    {{link-to "Speakers" "speakers"}}
    {{link-to "Tracks" "tracks"}}
    {{link-to "Schedule" "schedule"}}
</nav>

{{outlet}}