<div class="container">
    <h1>Sessions By Track</h1>

    {{#each track in controller}}
    <div>
        <h2>{{track-square track=track.name}} {{track.name}}</h2>

        <p>
            {{{track.description}}}
        </p>

        <table class="table table-bordered table-hover">
            <tr>
                <th>State</th>
                <th>Session</th>
                <th></th>
            </tr>
            {{#each session in track.sessions}}
            <tr>
                <td>{{session-status-image status=session.status}}</td>
                <td>{{session.title}}</td>
                <td>{{link-to "More Info" "session" session}}</td>
            </tr>
            {{/each}}
        </table>

    </div>
    {{/each}}
</div>

